@import "main";
.wrapper-main {
  display: flex;

  .close-menu {
    margin-left: -280px;
    transition: all 0.3s ease;
  }

  .body-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgba(43, 61, 99, 0.05);
    height: 100vh;
    overflow: hidden;
    padding: 20px 48px;

    .var-nab {
      height: 50px;
      min-height: 50px;
      width: 100%;
      background: white;

      .btn-navbar {
        height: 100%;
        background: transparent;
        outline: none;
        border: none;
        width: 40px;
        font-size: 24px;
        cursor: pointer;
      }


    }
  }
}
