@import "main";

.wrapper-register {
  display: flex;
  justify-content: center;
  align-items: center;

  .register {
    width: 980px;
    height: 500px;
    display: flex;
    border-radius: 20px;
    box-shadow: -8px -10px 15px -8px rgba(0, 0, 0, 0.1), 8px 10px 15px -3px rgba(0, 0, 0, 0.1);
    background: theme-palette-color('color', 'terciary');

    .left-register {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .left-register--header {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 12px;

        .image-logo {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }

      .left-register--body {
        width: 100%;
        padding: 0 48px 0 48px;

        .go-back {
          width: 98%;
          text-align: right;
          font-size: 13px;

          span {
            cursor: pointer;
            font-weight: 500;
            color: theme-palette-color('color', 'primary');

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .image-right-register {
      position: relative;
      width: 35%;
      height: 100%;
      border-radius: 12px 0 0 12px;
    }

  }
}
