<div class="card-wrapper">
  <img src="https://github-production-user-asset-6210df.s3.amazonaws.com/13468728/275616615-e4f91d6d-ee11-4ff7-9e6f-0fb3f9a78598.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240417%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240417T153437Z&X-Amz-Expires=300&X-Amz-Signature=8c47959922a4402d9512b2e7e8744fa75377583d4a4ee5c53d6e0610a8642a92&X-Amz-SignedHeaders=host&actor_id=114868922&key_id=0&repo_id=630171024"
       alt="image-product" class="image-card">
  <div class="description-card">
    <div class="info-product">
      <span class="name-product">Torta de Chocolate</span>
      <span class="price-product">5.00 USD</span>
    </div>
    <em class="icon-heart-f"></em>
  </div>
</div>

